@font-face {font-family: "Lucida Calligraphy";
  src: url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.eot"); /* IE9*/
  src: url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.woff2") format("woff2"), /* chrome、firefox */
  url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.woff") format("woff"), /* chrome、firefox */
  url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/font/lucida/efbd8f0d869bf61fbe0f139a1602cda8.svg#Lucida Calligraphy W01") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Calibri";
  src: url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.eot"); /* IE9*/
  src: url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"), /* chrome、firefox */
  url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"), /* chrome、firefox */
  url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/font/calibri/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri") format("svg"); /* iOS 4.1- */
}