@use 'color' as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Calibri', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  background-color: $background-color;
  color: white;
  margin: 0;
  min-height: 150vh;
  padding-bottom: 150px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: normal;
  font-family: 'Lucida Calligraphy', sans-serif;
}

h2 {
  font-size: 26px;
  text-align: left;
}

img {
  border: 6px solid $image-border-color;
}

form input{
  color: black;
}

h1 {
  color: rgb(33, 59, 8);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px;
  margin-top: 50px;
  margin-bottom: -50px;
  box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  font-size: 50px;
}

hr {
  margin-top: 30px;
}

p {
  margin: 0;
  min-height: 20px;
}

a {
  text-decoration: underline;
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.75));
    text-decoration: none;
  }
}
